---
const { href, title, body, thumbnail, price, state } = Astro.props;
//console.log("card", Astro.props);
---

<link
  href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap"
  rel="stylesheet"
/>

<article class="goods_card maru">
  <a href={href}>
    <img class="thumbnail" src=`/19_ecsite/images/${thumbnail}` alt={title} />

    <p class="state">{state}</p>

    <h2 class="goods_title">{title}</h2>
    <p>{body}</p>
    <p class="price">{price}</p>
  </a>
</article>
