---
const { href, title, body, thumbnail, price } = Astro.props;
// console.log("card", Astro.props);
---

<article>
  <a href={href}>
    <h2>{title}</h2>
    <img src=`/images/${thumbnail}` alt={title} />
    <p>{body}</p>
    <p>{price}</p>
  </a>
</article>
